/* ////////////////////////////////////////////////////////////// GRAL */
body,
#app,
p {
    font-family: 'Lato', arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.v-application .headline,
.v-card__title,
.v-toolbar__title {
    font-family: 'Oswald', arial, sans-serif !important;
}
h1 {
    margin-bottom: 30px;
}
/* ////////////////////////////////////////////////////////////// END GRAL */

/* ////////////////////////////////////////////////////////////// ASIDE */
._cont_aside {
    background-color: transparent !important;
    background-image: url('../parques_industriales_v.jpg');
    background-position: 50% 50%;
    background-size: auto 100% ;
}
._cont_aside::before {
    content: "";
    background-color: rgba(255,255,255,.9);
    height: 100%;
    width: 100%;
    position: absolute;
}
._cont_aside ._img_ampip {
    margin: 10px auto auto auto;
    min-width: 90%;
}
._cont_aside .v-list-item__icon:first-child {
    margin-right: 5px;
}
._cont_aside .v-icon.v-icon {
    color: #000;
}
._cont_aside .v-list-item__title {
    text-align: left;
}
._img_ampip {
    max-width: 160px !important;
    background-color: white;
}
._img_ampip._login {
    max-width: 220px !important;
    margin: auto;
}
.theme--dark.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
    color: #333333 !important;
}
/* ////////////////////////////////////////////////////////////////// END ASIDE */


/* ////////////////////////////////////////////////////////////////// MAIN */

.v-application .deep-purple.accent-4 {
    background-color: #0eadb4 !important;
}
.theme--dark.v-text-field--filled > .v-input__control > .v-input__slot {
    background-color: rgba(255,255,255,.2) !important;
}
.v-toolbar__title {
    font-size: 1.8rem;
}
.v-sheet.v-card:not(.v-sheet--outlined) {
    box-shadow: 0 2px 4px 4px rgba(0,0,0,.04);
    padding: 10px 10px 15px 10px;
}
._cont_dash {
    display: flex;
    flex-direction: column;

}
._cont_dash ._cont_value {
    display: flex;
    
}
._cont_dash ._cont_value div:first-child {
    width: 200px;
    text-align: right;
    font-weight: 700;
    padding-right: 8px;
}
._h1_main {
    text-align: left;
    margin-top: 30px;
}
._h3_buscador {
    white-space: nowrap;
}
.v-application--wrap {
    max-width: 1600px !important;
    margin: 0 auto;
}
/* ////////////////////////////////////////////////////////////////// END MAIN */


/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2')
  local('../fonts/Lato/Lato-Regular.ttf');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2')
  local('../fonts/Lato/Lato-Regular.ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v36/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUtiYySUhiCXABTV.woff) format('woff')
  local('../fonts/Oswald/Oswald-VariableFont_wght.ttf');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v36/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUJiYySUhiCXABTV.woff) format('woff')
  local('../fonts/Oswald/Oswald-VariableFont_wght.ttf');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v36/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUliYySUhiCXABTV.woff) format('woff')
  local('../fonts/Oswald/Oswald-VariableFont_wght.ttf');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v36/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUhiYySUhiCXABTV.woff) format('woff')
  local('../fonts/Oswald/Oswald-VariableFont_wght.ttf');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v36/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiYySUhiCXAA.woff) format('woff')
  local('../fonts/Oswald/Oswald-VariableFont_wght.ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* tarjeta */

.v-size--default {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    color:#00afb7 !important;
    margin: 3px 5px;
}
.v-btn__content i.mdi-plus {
    padding: 20px;
    border-radius: 30px;
    background-color: #3ed808;
    color: #ffffff !important;
}
.v-btn__content i.mdi-plus:hover {
    background-color: #f26e50;
}
.v-btn__content i.mdi-eye {
    padding: 20px;
    border-radius: 30px;
    background-color: #333333;
    color: #ffffff !important;
    font-size: 1.4rem !important;
}
.v-btn__content i.mdi-eye:hover {
    background-color: #f26e50;
}
.v-card__actions span {
    color: #8e8b8b;
}
.v-toolbar__title label {
 color: #00afb7;
}
button.green--text {
    background-color: #00afb7;
    border-radius: 20px;
    padding: 10px 20px; 
}
button.green--text span  {
    color: #ffffff !important;
    padding: 10px 15px;
    font-weight: bold;
}
button.green--text:hover {
    background-color: #333333;  
}
button.red--text {
    background-color: #eeeeee;
    border-radius: 20px;
    padding: 10px 20px !important; 
}
button.red--text span {
    color:#cb1616; 
}
button.red--text:hover {
    background-color: #333333;  
}
button.red--text span:hover {
    color:#ffffff; 
}
button.yellow--text {
  background-color: none;
}
button.yellow--text:hover {
    background-color: #ffffff;
  }
button.yellow--text span {
    color: #cb1616;
}
button.yellow--text span:hover {
    color: #4166ba;
    text-decoration: underline;
}
.cont_direccion_space {
    text-align: left;
    background-color: #f1f2f3 !important;
}
.direc_space {
  color: #333333;
  font-weight: bold; 
}

.contacto_space {
    color: #333333;
    font-weight: bold;  
}
.cont_space_contacto {
    text-align: left;
    color: #333333;
}
.cont_space_seguridad {
    text-align: left;
    background-color: #f1f2f3 !important;
}
.cont_space_seguridad {
    color: #333333;
    font-weight: bold; 
}
.v-tab {
    color:#333333 !important;
    font-weight:bold;
    font-size: 1.2rem;
}
.v-tab.v-tab--active {
    color:#00afb7 !important;
    font-weight:bold;
    font-size: 1.2rem;
}
.v-tabs-slider {
    background-color: #00afb7;
}
.mdi-delete::before {
    color: #f26e50;
}
.mdi-delete:hover {
    background-color: #333333;
}
.mdi-window-close {
    color: #f26e50 !important;
}
/* fin tarjeta */
.btn_sec-space{
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    margin: 20px 0;
    font-weight: bold !important;
}
.btn_sec-space.v-tab--active {
    font-weight: bold !important;
}
.link_sec-space  {
    font-weight: bold !important;
    border-right: solid 1px rgba(0, 0, 0, 0.1);
    color: #333333;
}
.link_sec-space_info {
    font-weight: bold !important;
    color: #333333;
}
.card_space {
    background-color: #f1f2f3;
    font-weight: bold;
}
.card_space span { 
    font-weight: normal;
}
.card_space_sencillo {
    font-weight: bold;
}
.card_space_sencillo span { 
    font-weight: normal;
}
.card_space_reenviar {
    background-color: #00afb7 !important;
    border-radius: 20px;
    color: #ffffff;
    padding: 10px 20px; 
}
.card_space_reenviar:hover {
    background-color: #333333 !important;
}
.card_space_reenviar span {
    color: #ffffff;
    font-weight: bold;
    padding: 10px 20px; 
}
.card_space_cerrar {
    background-color: #eeeeee;
    border-radius: 20px;
    padding: 10px 20px !important; 
}
.card_space_cerrar:hover {
    background-color: #333333 !important;
}
.card_space_cerrar span {
    color:#cb1616; 
}
.card_space_cerrar span:hover {
    color:#ffffff; 
}
.card_space_alerta {
 display: block;
 padding: 20px;
 margin: 20px 0;
 background-color: #f1f2f3;
}
.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset {
    background-color: #f9f9f9;
    color:#00afb7;
}
span.green {
    color:#ffffff !important;
}
/* login */
.conte_login_space {
    max-width: 450px;
    margin: 0 auto;
}
button.btn_iniciar-space, button.perfil_space {
    background-color:#00afb7 !important;
    padding: 20px;
}
button.btn_iniciar-space span, button.perfil_space span {
    color:#ffffff !important;
    font-weight: bold;
}
button.btn_iniciar-space:hover, button.perfil_space:hover {
    background-color:#333333 !important;    
}
a.olvidaste_space {
 color: #00afb7;
}
a.olvidaste_space:hover {
    color: #333333;
}
.titulo_space_panel {
    font-size: 1.8rem;
    color: #00afb7;
    font-weight: bold;
    text-align: right;
}
/* fin login */
/* buscador */
.v-input__slot {
    min-width: 300px;
}
/* fin buscador */
/*lightbox*/
.v-card__title {
    font-size: 1.4rem;
    color: #00afb7;
}
.titulo_form_space {
    font-size: 1.0rem;
    text-align: left;
    font-weight: bold;
}
/*fin-lightbox*/
/*boton general*/
.card_space_general {
    background-color: #00afb7 !important;
    border-radius: 20px;
    padding: 10px 20px !important; 
}
.card_space_general:hover {
    background-color: #333333 !important;
}
.card_space_general span {
    color:#ffffff; 
}
.titu-imagen-space {
    background-color: rgba(120, 180, 60, .7);
    color:#ffffff;
    font-size: 1.2rem;
}
.img_space {
    max-width: 465px;
    margin: 0 auto;
}
.ultima_actualizacion_space {
    display: block;
    text-align: left;
    padding: 10px;
}
button.swal2-confirm.swal2-styled {
    background-color: #00afb7 !important;
    border-radius: 30px;
    padding: 10px 30px;
}
button.swal2-confirm.swal2-styled:hover {
    background-color: #333333 !important; 
}
.swal2-html-container {
    color: #00afb7;
}
.swal2-title {
    font-size: .9rem;
    color: #00afb7;
    font-weight: normal !important;
}
h2 .swal2-title {
    font-size: .9rem;
    color: #00afb7;
    font-weight: normal !important;
}
button.swal2-cancel {
    border-radius: 30px !important;
}
button.swal2-cancel:hover {
    background-color: #333333 !important;
}
.conte_mas_space {
    background-color: transparent;
    color:#00afb7;
    margin-left: 30px !important;
}

.conte_mas_space span {
    background-color: transparent;
    color:#3ed808;
    font-weight: bold;
    font-size: 1.0rem;
}
.conte_mas_space span:hover {
    background-color: transparent !important;
    color:#333333;
}
.conte_regresar_space {
    background-color: transparent;
    color:#f26e50;
    margin-left: 30px !important;
}

.conte_regresar_space span {
    background-color: transparent;
    color:#f26e50;
    font-weight: bold;
    font-size: 1.0rem;
}
.conte_regresar_space span:hover {
    background-color: transparent !important;
    color:#333333;
}
.titulo_general_space {
    color:#00afb7;
    font-size: 1.6rem;
    font-weight: bold;
    display: block;
    text-align: left;
}
.lista-space-nombre {
    font-size: 1.6rem;
    color: #333333;
}
.lista-space-ciudad {
    color:#00afb7;
    font-weight: bold;
}
.lista-space-ultima {
    color: #8e8b8b;
}
.item_space {
    display: block;
    margin: 0 0;
    padding: 0 0;
    height: 35px;
}